# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pkl
*.db

# Virtual environments
.venv/
env/
venv/

# Environment files
.env
.env.*

# Git
.git/
.gitignore

# Docker files
Dockerfile
docker-compose.yml

# OS/macOS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code / IDE settings
.vscode/
.idea/

# Test artifacts
.coverage
htmlcov/
pytest_cache/
.pytest_cache/
.tox/
